

.darkmood .fas {
    position: absolute;
   margin-left: 96vw;
   margin-top: 2.5px;
    font-size: 1.5rem;

    color: var(--main-btn-color);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .darkmood .fas {
        margin-left: 88vw;
    }
}
    
