label input[type="number"] {
  width: 12vw;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 5px;
}

@media screen and (max-width: 600px) {
  label input[type="number"] {
    width: 52vw;
  }

}
    
