nav{
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100vw;
}
.material-symbols-outlined{
    font-size: 3rem;
    color: #ffcc00;
}
nav h1{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

nav h1:hover{
    color: #ffcc00;
}


nav a:hover{
    color: #ffcc00;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}



nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 20px;
}

nav ul li a:hover{
    color: #ffcc00;
}

@media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav ul li a{
        margin: 10px 0;
    }
    .material-symbols-outlined{
        font-size: 2rem;
    }
    nav h1{
        font-size: 1.5rem;
    }
    nav ul li a{
        font-size: 1rem;
    }
}
    
