.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .main .cal-sign{
    font-size:4em;
    color: #000000;
    margin: 10px 0;
    padding: 0;
  }
 
  footer, aside{
    color: #000000;
    text-align: flex-start;
    margin: 20px auto;
    padding: 20px;
    width: 50vw;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color:#FFFACD;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .main h1{
    margin: 10px 0;
    padding: 0;
  }

  .main h1 span{
    font-size: 0.5em;
  }

  .main h2{
    margin: 10px 0;
    padding: 0;
  }

  .main h2 span{
    font-size: 0.5em;
  }
  .result{
    text-align: center;
    align-items: center;
    width: 50vw;
    margin: 20px auto;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color:#FFFACD;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  p span {
    color: #000000;
  font-weight: bold;
  width: 15vw;
    float: right;
  }
.pension, .loan{
  display: block;
  
}
.small-divider{
  border-bottom: 1px solid #837c7c;
  margin: 5px 50px;
  padding: 0;
}
.pensionHide, .loanHide{
  display: none;
}

input[type="button"] {
  width: 12vw;
  padding: 10px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 10px 5px;
}

.divider{
 border-bottom: 2px solid #837c7c;
 margin: 10px 15px;
}

.total-tax{
  color: red;
margin: 0 50px;
}
.tax{
  margin: 0 10px;
  text-align: left;
  color: red;
  font-weight: bold;
}


@media screen and (max-width: 600px) {
  .result{
    width: 90vw;
  }
  .result p{
    width: 85vw;
  }
  input[type="button"] {
    width: 40vw;
  }
  .pension, .loan{
    width: 100vw;
  }
  .pensionHide, .loanHide{
    width: 100vw;
  }
  .tax{
    margin: 0 50px;
    text-align: left;
    color: red;
    font-weight: bold;
  }
  p span {
    font-weight: bold;
  width: 12vw;
    float: right;
  }

  .small-divider{
    border-bottom: 1px solid #837c7c;
    margin: 2px 60px;
   }
    .divider{
      border-bottom: 2px solid #837c7c;
      margin: 2px 60px;
    }
    .total-tax{
      color: red;
    margin: 0 60px;
    }
    aside{
      width: 90vw;
    }
    footer{
      width: 90vw;
    }
}
  
