.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-bar{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20vh auto;
 
}

.nav-bar h1{
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.nav-bar h3{
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0;
}
.nav-bar h1:hover{
  color: #ffcc00;
}
.nav-bar a:hover{
  color: #ffcc00;
}
.nav-bar a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}
.nav-divider{
  border-bottom: 4px solid var(--main-border-color);
  width: 25vw;
  margin: 0 auto;
  padding: 0;
}
.nav-bar ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}



.App h1 {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 50vw;
  align-items: center;
  background-color: #4CAF50;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.App form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 50vw;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color:#ffffe0;
}

.App form input {
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  width: 12.5vw;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.App form input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  width: 13.5vw;
  color: white;
  cursor: pointer;

}
.App form input[type="submit"]:hover {
  background-color: #558a57;
}

.App form input:focus {
  outline: none;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  margin: 20px auto;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: #ffffe0;
}


@media screen and (max-width: 600px) {
  .App h1 {
    width: 90vw;
  }
  .App form {
    width: 90vw;
  }
  .App form input {
    width: 52vw;
  }
  .App form input[type="submit"] {
    width: 58vw;
  }
 
}
  
