form{
    width: 50vw;
    margin: 20px auto;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #ffffe0;
}

form input[type="submit"] {
  width: 12vw;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 10px 5px;
}

.annualShow, .monthlyShow, .weeklyShow, .dailyShow {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 25vw;
}
.annualHide, .monthlyHide, .weeklyHide, .dailyHide {
  display: none;
}

@media screen and (max-width: 600px) {
form{
    width: 90vw;}
  .annualShow, .monthlyShow, .weeklyShow, .dailyShow {
    width: 100vw;
  }
  .annualHide, .monthlyHide, .weeklyHide, .dailyHide {
    width: 100vw;
  }
  form input[type="submit"] {
    width: 40vw;
  }
}