
form{
    width: 50vw;
    margin: 20px auto;
    background-color:var(--main-bg-color);
    box-sizing: border-box;
    box-shadow: var(--main-shadow-color);
    color:var(--main-text-color);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

form input[type="submit"] {
    width: 20vw;
    padding: 10px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 10px 5px;
  background-color: var(--main-border-color);
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px var(--main-shadow-color);
}
.hrsShow {
  display: inline;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 25vw;
}
.annualShow, .monthlyShow, .weeklyShow, .dailyShow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 25vw;
}
.annualHide, .monthlyHide, .weeklyHide, .dailyHide, .hrsHide {
  display: none;
}
.deduction{
    margin: 10px auto;
    text-align: center;
}
@media screen and (max-width: 600px) {
form{
    width: 90vw;}
  .annualShow, .monthlyShow, .weeklyShow, .dailyShow, .hrsShow {
    width: 100vw;
  }
  .annualHide, .monthlyHide, .weeklyHide, .dailyHide, .hrsHide {
    width: 100vw;
  }
  form input[type="submit"] {
    width: 40vw;
  }
}